/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

img {
    max-width: 55%;
    display: block;
}

div , span {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Убираем внешние отступы */
body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
    margin: 0;
    background: rgb(119, 117, 117);
}


html{
    box-sizing: border-box;
    scroll-behavior: smooth;

}

  *,*::before, *::after{
    box-sizing: inherit;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}
body {
    max-width: 1920px;
    max-height: 1080px;
}

.bayan:hover .bayan-item:hover .memas-img,
.bayan .bayan-item--default .memas-img{
    height: 80em;
}

.memas-img, .bayan:hover .memas-img{
    height: 0;
    overflow: hidden;
    transition: height 0.25s;
}

.bayan{
    padding: 0;
    width: 50%;
    margin: 0 auto;
}

.bayan .bayan-item{
    background: linear-gradient(to bottom, rgba(254,254,254,1) 0%,rgba(209,209,209,1) 50%,rgba(219,219,219,1) 55%,rgba(226,226,226,1) 100%);

}

.bayan input {
    display: none;
    
}

.tab-title{
    width: 100%;
    position: relative;
    display: block;
    padding: 0.3em;
    transition: all 0.4s cubic-bezier(0.865, 0.140, 0.095, 0.870);
    font-size: 3vh;
    color: #2b2b31;
    float: left;
}
.tab-title:hover{
    cursor: pointer;
    color: #7c0b5a;
    
}

label + label span:hover{
    transform: translateY(-0.2em);
}

input:checked + label{
    color: #2980b9;
}

.memas-img{
    overflow: hidden;
    max-height: 0em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.5em;
    background: #363636;
    color:#eee;
    transition: all 0.8s cubic-bezier(0.865, 0.140, 0.095, 0.870);
}

    
input[name='tab-group']:checked ~ .memas-img{
    max-height: 30em;
}